.showDataDiv {
	display: none;
	height: 100px;
	width: 600px;
	left: 400px;
	position: absolute;
	background-color: #ccc;
	color: black;
}

.displayleadLayout {
	min-width: 400px;
	min-height: 700px;
	width: 90%;
	background-color: #fdf6e3;
	margin: 1px auto;
}

.hoverShadow:hover {
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(80, 0, 0, .3);
}

.visualizeLayout {
	min-height: 550px;
	top: 20px
}

.visualizeLayoutUnit {
	min-width: 400px;
	min-height: 525px;
	width: 90%;
	background-color: #fdf6e3;
}

.selectFieldset {
	position: relative;
	float: left;
}

.displayButton {
	position: relative;
	left: 2px;
	top: 4px;
}

.visualizeDataTable {
	width: 900px;
	float: right;
}

.visualizeDataTableRow {
	text-align:center
}


.visualizeDataTableRow {
	text-align: center
}

.ui-menuitem.ui-widget.ui-corner-all:nth-child(4) {
	border-top-width: 2px;
	border-right-width-value: 1px;
	border-bottom-width: 1px;
	border-left-width-value: 1px;
	border-top-style: solid;
	border-right-style-value: solid;
	border-bottom-style: solid;
	border-left-style-value: solid;
	border-top-color: white;
	border-right-color-value: #2CA1CB;
	border-bottom-color: #CCC;
	border-left-color-value: #2CA1CB;
	-moz-box-shadow: 0 0 10px white, 0 3px 0 #0E3871, 0 5px 0 white, 0 5px
		3px #CCC;
	-webkit-box-shadow: 0 0 10px white, 0 3px 0 #0E3871, 0 5px 0 white, 0
		5px 3px #CCC;
	box-shadow: 0 0 10px white, 0 3px 0 #0E3871, 0 5px 0 white, 0 5px 3px
		#CCC;
	background-color: #3DB6E3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.top {
	z-index: 1972;
	filter: alpha(opacity = 85);
	opacity: 0.85;
	padding: 50px 0 0 50px;
	-webkit-box-shadow: 4px 4px 4px 4px rgba(4, 4, 4, .30);
	box-shadow: 4px 4px 4px 4px rgba(4, 4, 4, .30);
}

.rotate {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.shadow:hover {
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* dark blue 3DB6E3 blue 3CB6E2 light blue 89f5ff gray 333 */

/* 
.ui-state-highlight {
border: 1px solid #c9eefc!important;
background: #AAA;
background: #c9eefc  linear-gradient(top, rgba(0, 0, 0, 0.25), transparent)!important;
background: #c9eefc -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(transparent))!important;
background: #c9eefc -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), transparent)!important;
color: black!important;
text-shadow: 1px 1px 1px #FFF!important;
font-weight:800;
font-color:#000000!important;

}
 */
.ui-button-text {
	font-size: 8pt;
	size: 8pt;
	border: 0 !important;
	border-size: 0 !important;
	font-family: helvetica !important;
}

.ui-tree{
	border:0;	
}
